.frimode {
    font-size: 0;
}
.coteng {
    display: inline-block;
}
@media screen and (min-width: 992px ) {
    .coteng {
        width: 25%;
        padding: 0 15px;
        .single-friend {
            margin-bottom: 12px;
            padding-bottom: 34px;
            background: gray;
            .friend-box {
                overflow: hidden;
               .friend-photo-box {
                transform: rotate(44deg);
                overflow: hidden;
                img {
                    max-width: 210px;
                    max-height: 210px;
                    transform: rotate(-44deg) scale(1.1);
                    transition: all ease-in-out .7s;
                    -webkit-transition: all ease-in-out .7s;               
                }
                } 
            }
            
        }
        .friend-p-wrap {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 992px ) {
    .coteng {
        flex: 0 0 50%;
        max-width: 50%;
    }
}