.publictab-content{
 padding:80px 0 50px;
 .el-tabs__nav-wrap::after{
   content: none;
 }
 .publictab-content-title{
   h2{
     &.section-hender{
       font-size:40px;
       margin-bottom:10px;
       line-height:30px;
       font-family:'Playball',cursive;
       color:#ff4061;
     }
   }
   h3{
     &.publictab-content-detaile{
       color:#777c87;
       font-weight:400;
       width:67%;
       margin:15px 200px 60px;
       line-height:30px;
     }
   }
 }
 
  .el-tabs__active-bar{
    text-align: center;
    background-color:#ff4061;
  }
  .el-tabs__item{
    color:#101127;
    &.is-active{
      color:#ff4061;
    }
  }
  .tab-content{
    margin: 0 auto;
  }
}
// Tab内容
.public-tab-content{
  position: relative;
  height:1360px;
  width:100%;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
  margin-left:70px;
 
 .img-box{
    position: absolute;
    top:340px;
    right:514px;
    overflow: hidden;
    box-shadow:0 0 16px 2px rgba(0, 0, 0, .2);
   &.img-box4{
    position: absolute;
    top:340px;
    right:420px;
    overflow: hidden;
    box-shadow:0 0 16px 2px rgba(0, 0, 0, .2);
   }
   img{
          height:100%;
          vertical-align: middle;
          border-style: none;
          transition:all 1s;
          transform: scale(1.15);
          &.img{
            max-width:100%;
            height:100%;
            display: block;
          }
      }
      .gallery-tab{
        position: absolute;
        top:0;
        left: 0;
        height:100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgba(255, 67, 97, 0.7);
        opacity:0;
        span{
           font-size:50px;
           color:#fff;
        }
      }
  }
  .position-reletive{
    position: relative;
    .story-photo-box{
      position: relative;
      overflow: hidden;
      box-shadow:0 0 16px 2px rgba(0, 0, 0, .2);
      &.public-img{
        position: absolute;
        left:-10px;
        bottom:30px;
      }
      &.public-img4{
        position: absolute;
        left:-10px;
        top: 380px;
      }
      img{
          height:100%;
          vertical-align: middle;
          border-style: none;
          transition:all 1s;
          transform: scale(1.15);
          &.img{
            max-width:100%;
            height:100%;
            display: block;
          }
      }
      .gallery-tab{
        position: absolute;
        top:0;
        left: 0;
        height:100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background:rgba(255, 67, 97, 0.7);
        opacity:0;
        span{
           font-size:50px;
           color:#fff;
        }
      
      }
    }
  }
  .story-photo-box:hover .img,
  .img-box:hover .img{
      transform: scale(0.99);
  }
  .story-photo-box:hover .gallery-tab,
  .img-box:hover .gallery-tab{
    opacity:0.6;
  }
 
}