@media screen and (max-width: 1095px) {
  .outer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    top: 80px;
    left: 0;
    .cg-topnav {
      line-height: normal;
      justify-content: space-between;
      .topnav-choose {
        display: block;
        height: 0;
        overflow: hidden;
        background: #383838;
        padding: 0;
        width: calc(100% + 18px);
        >div {
          background: #101127;
          transition: background 0.3s ease-out;
          border-bottom: 1px solid rgba(0, 0, 0, .4);
          &.show {
            .child-routers {
              top: 0;
              width: auto;
              a {
                text-indent: 60px;
              }
            }
          }
          .child-routers {
            position: relative;
            div {
              background:rgba(0, 0, 100, .1);
              &:hover {
                background: #ff4061;
              }
            }
          }
          a {
            display: inline-block;
            width: 100%;
            line-height: 45px;
            font-size: 12px;
            color: #e2e2e2;
            padding-left: 47px;
            &::after {
              background: none;
            }
            &.active {
              background: radial-gradient(#FF2EBF, transparent);
            }
           &:hover {
            background: radial-gradient(#FF2EBF, transparent);
           }
          }
        }
        &.show {
          height: 414px;
          overflow-y: auto;
        }
      }
      .display>.display-icon.show {
        display: flex;
      }
    }
  }
}
